
<div class="row">
    <h1>Page d'accueil</h1>
    <p>
    Voilà la page principale.
    </p>
    <p>Maintenant on va lister les posts, en utilisant <code>Blog.getPosts</code> mais on va mettre en forme la liste</p>
    <p>L'idée est d'utiliser <code>ng-repeat</code></p>

    <p><code>b in posts</code> assigne un post dans "b" à chaque entreé de <code>$scope.posts</code></p>
    <p>Tout se trouve dans app/scripts/main.js</p>
    </pre>
    <ul>
        <li ng-repeat="b in posts">{{b.title}}</li>
    </ul>
    <p>On va passer à l'étape 4 pour faire une vue "blog post"</p>
    <pre><code>git checkout -f step4</code></pre>
</div>
